In [1]:
#Importando as bibliotecas
import pandas as pd 
# Mágica do Matplot
%matplotlib inline

In [2]:
#Importando o arquivo csv
df = pd.read_csv('cursos-prouni-27e8bad5f3224a6086fee9c4e6bc6fd2.csv')
df.head() #Mostrando os 5 primeiros

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.0,1.0,1.0,NaN,NaN,572.74,548.0,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.0,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN
2,AC,Cruzeiro do Sul,Faculdade Educacional da Lapa - FAEL,AC - CRUZEIRO DO SUL - POLO EAD - CENTRO,Administração,Bacharelado,Curso a Distância,325.0,NaN,NaN,1.0,NaN,NaN,NaN,577.62,NaN
3,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,319.0,1.0,NaN,NaN,NaN,616.68,NaN,NaN,NaN
4,AC,Rio Branco,Centro Universitário Internacional - Uninter -...,PAP RIO BRANCO - Bosque,Administração,Bacharelado,Curso a Distância,298.0,NaN,NaN,1.0,NaN,NaN,NaN,569.00,NaN

In [3]:
#Verificando o Tamanho do df
df.shape #mostra linhas X colunas

(41447, 16)

In [4]:
#Os tipos de dados daas colunas
df.dtypes

uf_busca                 object
cidade_busca             object
universidade_nome        object
campus_nome              object
nome                     object
grau                     object
turno                    object
mensalidade             float64
bolsa_integral_cotas    float64
bolsa_integral_ampla    float64
bolsa_parcial_cotas     float64
bolsa_parcial_ampla     float64
nota_integral_ampla     float64
nota_integral_cotas     float64
nota_parcial_ampla      float64
nota_parcial_cotas      float64
dtype: object

In [5]:
# Análise matemática das colunas númericas
df.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,41447.000000,32520.000000,25404.000000,8828.000000,13041.000000,32520.000000,16802.000000,16350.000000,5519.000000
mean,622.636966,1.535394,2.513541,1.873018,8.632544,575.982999,564.470439,527.517136,511.799638
std,606.442296,2.191578,3.019549,2.336403,18.372991,57.827594,57.869145,60.202170,56.787140
min,139.000000,0.000000,1.000000,1.000000,1.000000,450.000000,450.000000,450.000000,450.000000
25%,278.000000,0.000000,1.000000,1.000000,1.000000,544.360000,532.865000,453.980000,450.000000
50%,393.350000,1.000000,1.000000,1.000000,2.000000,580.740000,571.450000,532.420000,511.820000
75%,825.000000,2.000000,3.000000,2.000000,6.000000,614.145000,603.315000,573.235000,557.170000
max,9999.990000,58.000000,67.000000,74.000000,350.000000,781.200000,792.240000,776.360000,768.340000

In [6]:
#Descrever os dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   uf_busca              41447 non-null  object
 1   cidade_busca          41447 non-null  object
 2   universidade_nome     41447 non-null  object
 3   campus_nome           41447 non-null  object
 4   nome                  41447 non-null  object
 5   grau                  41447 non-null  object
 6   turno                 41447 non-null  object
 7   mensalidade           41447 non-null  float64
 8   bolsa_integral_cotas  32520 non-null  float64
 9   bolsa_integral_ampla  25404 non-null  float64
 10  bolsa_parcial_cotas   8828 non-null   float64
 11  bolsa_parcial_ampla   13041 non-null  float64
 12  nota_integral_ampla   32520 non-null  float64
 13  nota_integral_cotas   16802 non-null  float64
 14  nota_parcial_ampla    16350 non-null  float64
 15  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), object(7)
memory usage: 5.1+ MB

In [7]:
# Quantidade de cursos por uf
df['uf_busca'].value_counts()

SP    11533
MG     4175
PR     3918
RS     3060
BA     2505
SC     2195
RJ     1442
GO     1278
PA     1201
PE     1148
DF     1063
MT     1063
ES      825
CE      816
MS      785
MA      679
PB      596
RO      463
AM      429
PI      405
TO      343
RN      342
AL      327
SE      323
AP      219
AC      203
RR      111
Name: uf_busca, dtype: int64

In [8]:
#Qual o curso com a mensalidade mais alta?
df[df['mensalidade'] == df['mensalidade'].max()]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,Medicina,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,740.22,726.46,NaN,NaN

In [9]:
#Qual o curso mais barato do brasil?
df[df['mensalidade'] == df['mensalidade'].min()]

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
20454,PA,Santarem,Universidade Paulista - UNIP,SANTARÉM - Fátima,Gestão Ambiental,Tecnológico,Curso a Distância,139.0,3.0,1.0,NaN,NaN,605.32,573.7,NaN,NaN
22934,DF,Brasilia,Centro Universitário Planalto do Distrito Fede...,DF03 - UNIDADE BRASIL CENTRAL - Taguatinga Nor...,Gestão de Recursos Humanos,Tecnológico,Vespertino,139.0,1.0,NaN,NaN,NaN,580.76,NaN,NaN,NaN
39118,ES,Vitoria,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,Serviço Social,Bacharelado,Curso a Distância,139.0,1.0,NaN,NaN,NaN,548.26,NaN,NaN,NaN

In [10]:
#Selecionando apenas algumas colunas p visualisar (uf, cidade, mensalidade)
df[df['mensalidade'] == df['mensalidade'].min()][['uf_busca', 'cidade_busca', 'mensalidade']]

      uf_busca cidade_busca  mensalidade
20454       PA     Santarem        139.0
22934       DF     Brasilia        139.0
39118       ES      Vitoria        139.0

In [11]:
#Mostrar os cursos mais caros por UF
#mostrando o uf, cidade, faculdade, mensalidade e curso
df.loc[df.groupby('uf_busca')['mensalidade'].idxmax()][['uf_busca', 'cidade_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,cidade_busca,universidade_nome,nome,mensalidade
31940,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34
31941,AL,Maceio,Centro Universitário Tiradentes - FITS,Medicina,7290.00
32962,AM,Manaus,Faculdade Uninassau Manaus,Odontologia,2127.05
32966,AP,Macapa,Instituto Macapaense de Ensino Superior - IMMES,Odontologia,3607.62
31945,BA,Lauro de Freitas,Faculdade de Ciências Agrárias e da Saúde - FAS,Medicina,9048.00
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40
31950,DF,Brasilia,Faculdades Integradas da União Educacional do ...,Medicina,6757.92
31952,ES,Colatina,Centro Universitário do Espírito Santo - Unesc...,Medicina,6022.28
31957,GO,Goiania,Pontifícia Universidade Católica de Goiás - PU...,Medicina,6484.47
31959,MA,Imperatriz,Universidade do Ceuma - Uniceuma - UNICEUMA,Medicina,8281.38
31983,MG,Sao Joao Del Rei,Centro Universitário Presidente Tancredo de Al...,Medicina,9350.00
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,Medicina,9999.99
31988,MT,Cuiaba,Universidade de Cuiabá - UNIC/UNIME,Medicina,9208.00
31990,PA,Belem,Faculdade Metropolitana da Amazônia - FAMAZ,Medicina,8508.54
31995,PB,Joao Pessoa,Faculdade de Medicina Nova Esperança - FAMENE,Medicina,8350.00
31997,PE,Olinda,Faculdade de Medicina de Olinda - FMO,Medicina,7250.00
32001,PI,Parnaiba,"Faculdade de Ciências Humanas,Exatas e da Saúd...",Medicina,8402.00
11916,PR,Curitiba,Faculdade Dom Bosco - FDB,Educação Física,8466.72
32012,RJ,Itaperuna,Faculdade Redentor - FACREDENTOR,Medicina,9023.07
32017,RN,Natal,Universidade Potiguar - UNP,Medicina,6505.09
32019,RO,Porto Velho,Centro Universitário São Lucas - UniSL,Medicina,6909.97
33143,RR,Boa VIsta,Faculdade Cathedral - FACES,Odontologia,1463.05
32022,RS,Caxias do Sul,Universidade de Caxias do Sul - UCS,Medicina,8329.95
32036,SC,Rio do Sul,Centro Universitário para O Desenvolvimento do...,Medicina,6922.15
32038,SE,Aracaju,Universidade Tiradentes - UNIT,Medicina,6490.00
32058,SP,Sao Paulo,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61
32062,TO,Palmas,"Faculdade de Ciências Humanas, Econômicas e da...",Medicina,7800.00

In [20]:
#Selecionando mensalidades entre 500 e 1000
df[(df['mensalidade'] >500) & (df['mensalidade'] <1000)][['uf_busca', 'cidade_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,cidade_busca,universidade_nome,nome,mensalidade
5,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,Administração,823.22
9,AC,Rio Branco,Faculdade Meta - FAMETA,Administração,522.79
10,AC,Rio Branco,Unama Faculdade da Amazônia de Rio Branco - FM...,Administração,672.15
13,AL,Arapiraca,Faculdade Uninassau Arapiraca,Administração,586.63
18,AL,Maceio,Centro Universitário Maurício de Nassau de Mac...,Administração,586.63
...,...,...,...,...,...
41435,BA,Salvador,Faculdade Regional da Bahia - FARB,Viticultura e Enologia,840.00
41437,MA,Timon,Instituto de Ensino Superior Múltiplo - IESM,Zootecnia,689.22
41438,MG,Patos de Minas,Centro Universitário de Patos de Minas - Unipa...,Zootecnia,951.29
41441,MT,Jaciara,Faculdade de Ciências Sociais Aplicadas do Val...,Zootecnia,990.00
41442,PA,Redencao,Faculdade de Ensino Superior da Amazônia Reuni...,Zootecnia,932.83

In [22]:
# Analisando as 5 maiores mensalidades (mostrando só algumas colunas)
df.nlargest(10, 'mensalidade')[['uf_busca', 'cidade_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,cidade_busca,universidade_nome,nome,mensalidade
31987,MS,Campo Grande,Universidade Anhanguera - UNIDERP,Medicina,9999.99
12916,CE,Crateus,Faculdade Princesa do Oeste - FPO,Enfermagem,9836.40
32058,SP,Sao Paulo,Universidade Cidade de São Paulo - UNICID,Medicina,9715.61
37058,CE,Crateus,Faculdade Princesa do Oeste - FPO,Psicologia,9689.34
31940,AC,Rio Branco,Faculdade Barão do Rio Branco - FAB,Medicina,9674.34
32047,SP,Presidente Prudente,Universidade do Oeste Paulista - UNOESTE,Medicina,9650.00
32045,SP,Marilia,Universidade de Marília - UNIMAR,Medicina,9564.00
31983,MG,Sao Joao Del Rei,Centro Universitário Presidente Tancredo de Al...,Medicina,9350.00
31988,MT,Cuiaba,Universidade de Cuiabá - UNIC/UNIME,Medicina,9208.00
31945,BA,Lauro de Freitas,Faculdade de Ciências Agrárias e da Saúde - FAS,Medicina,9048.00

In [23]:
# Analisando as 10 menores mensalidades (mostrando só algumas colunas)
df.nsmallest(10, 'mensalidade')[['uf_busca', 'cidade_busca', 'universidade_nome', 'nome', 'mensalidade']]

,uf_busca,cidade_busca,universidade_nome,nome,mensalidade
20454,PA,Santarem,Universidade Paulista - UNIP,Gestão Ambiental,139.0
22934,DF,Brasilia,Centro Universitário Planalto do Distrito Fede...,Gestão de Recursos Humanos,139.0
39118,ES,Vitoria,Universidade Paulista - UNIP,Serviço Social,139.0
30989,SP,Sao VIcente,Faculdade de São VIcente - FSV,Marketing,144.0
20836,AC,Acrelandia,Universidade Paulista - UNIP,Gestão Comercial,149.0
20838,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,Gestão Comercial,149.0
20845,AM,Coari,Universidade Paulista - UNIP,Gestão Comercial,149.0
20849,AM,Manaus,Universidade Paulista - UNIP,Gestão Comercial,149.0
20851,AM,Tabatinga,Universidade Paulista - UNIP,Gestão Comercial,149.0
20924,DF,Brasilia,Universidade Paulista - UNIP,Gestão Comercial,149.0